/* Media Queries */

@media screen and (max-width: 768px) {
  nav {
    float: none;
    clear: left;
    width: 100%;
  }

  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .burger-nav {
    display: block;
    height: 40px;
    width: 100%;
    background: url('../img/nav-icon.png') no-repeat 98% center;
    background-color: #404040;
    cursor: pointer;
  }

  .wrapper {
    width: 100%;
    padding: 0;
  }

  header {
    h1 {
      @include font-size(25);
    }
  }

  nav ul {
    overflow: hidden;
    background: #505050;
    height: 0;
  }

  nav ul.open {
    height: auto;
  }

  nav ul li {
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
  }

  nav ul li a {
    color: #fff;
    /* @include rem-fallback(padding, 10px);*//* @include rem-fallback(border-bottom, 1px, solid, #404040);*//**/
    display: block;
    margin: 0;
  }

  footer ul {
    width: 98%;
    text-align: center;
  }
}
